@model WebBibliotecaMVC.Models.Producto

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container-xxl py-6" style="background-color: black">
    <div class="container">
        <div class="row g-4">
            <h1 style="color: white">Detalles del Libro</h1>

            <div>
                <hr />
                <dl class="row">
                    <dt class="col-sm-2" style="color: #EAA636">Código</dt>
                    <dd class="col-sm-10" style="color: white">
                        @Html.DisplayFor(model => model.Codigo)
                    </dd>
                    <dt class="col-sm-2" style="color: #EAA636">Nombre</dt>
                    <dd class="col-sm-10" style="color: white">
                        @Html.DisplayFor(model => model.Nombre)
                    </dd>
                    <dt class="col-sm-2" style="color: #EAA636">Descripción </dt>
                    <dd class="col-sm-10" style="color: white">
                        @Html.DisplayFor(model => model.Descripcion)
                    </dd>
                    <dt class="col-sm-2" style="color: #EAA636">Precio</dt>
                    <dd class="col-sm-10" style="color: white">
                        @Html.DisplayFor(model => model.Precio)
                    </dd>
                    <dt class="col-sm-2" style="color: #EAA636">Usuario Registro</dt>
                    <dd class="col-sm-10" style="color: white">
                        @Html.DisplayFor(model => model.UsuarioRegistro)
                    </dd>
                    <dt class="col-sm-2" style="color: #EAA636">Fecha Registro</dt>
                    <dd class="col-sm-10" style="color: white">
                        @Model.FechaRegistro.ToLongDateString() @Model.FechaRegistro.ToShortTimeString()
                    </dd>
                    <dt class="col-sm-2" style="color: #EAA636">Estado</dt>
                    <dd class="col-sm-10" style="color: white">
                        @(Model.Estado == 1 ? "Activo" : "Inactivo")
                    </dd>
                    <dt class="col-sm-2" style="color: #EAA636">Categoria</dt>
                    <dd class="col-sm-10" style="color: white">
                        @Model.IdCategoriaNavigation.Nombre
                    </dd>
                </dl>
            </div>
            <div>
                <a asp-action="Edit" asp-route-id="@Model?.IdProducto">Editar</a> |
                <a asp-action="Index">Volver a la lista</a>
            </div>
        </div>
    </div>
</div>