@model IEnumerable<WebBibliotecaMVC.Models.Producto>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Productos</h1>

<p>
    <a asp-action="Create">Crer Nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Codigo</th>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Precio</th>
            <th>Categoria</th>
            <th>Usuario de Registro</th>
            <th>Fecha de Registro</th>
            <th>Estado</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Codigo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descripcion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Precio)
                </td>
                <td>
                    @item.IdCategoriaNavigation.Nombre
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UsuarioRegistro)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaRegistro)
                </td>
                <td>
                    @(item.Estado == 1 ? "Activo" : "Inactivo")
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.IdProducto">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.IdProducto">Detalle</a> |
                    <a asp-action="Delete" asp-route-id="@item.IdProducto">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
